.jcarousel-skin-field_collection_carousel_formatter .jcarousel-direction-rtl {
  direction: rtl;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-container-vertical {
  width: 75px;
  height: 245px;
  padding: 40px 20px;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-clip {
  overflow: hidden;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-clip-horizontal {
  height: 147px;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-clip-vertical {
  width:  75px;
  height: 245px;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-item {
  width: 206px;
  height: 147px;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-item-horizontal {
  margin-left: 0;
  margin-right: 8px;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-direction-rtl .jcarousel-item-horizontal {
  margin-left: 10px;
  margin-right: 0;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-item-vertical {
  margin-bottom: 10px;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-item-placeholder {
  background: #fff;
  color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-horizontal {
  position: absolute;
  top: 43px;
  right: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-direction-rtl .jcarousel-next-horizontal {
  left: 5px;
  right: auto;
  background-image: url(prev-horizontal.png);
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-horizontal:hover,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-horizontal:focus {
  background-position: -32px 0;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-horizontal:active {
  background-position: -64px 0;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-disabled-horizontal,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-horizontal {
  position: absolute;
  top: 43px;
  left: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-direction-rtl .jcarousel-prev-horizontal {
  left: auto;
  right: 5px;
  background-image: url(next-horizontal.png);
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-horizontal:hover,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-horizontal:focus {
  background-position: -32px 0;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-vertical {
  position: absolute;
  bottom: 5px;
  left: 43px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-vertical:hover,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-vertical:focus {
  background-position: 0 -32px;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-vertical:active {
  background-position: 0 -64px;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-disabled-vertical,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-next-disabled-vertical:active {
  cursor: default;
  background-position: 0 -96px;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-vertical {
  position: absolute;
  top: 5px;
  left: 43px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-vertical:hover,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-vertical:focus {
  background-position: 0 -32px;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-vertical:active {
  background-position: 0 -64px;
}

.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-disabled-vertical,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-field_collection_carousel_formatter .jcarousel-prev-disabled-vertical:active {
  cursor: default;
  background-position: 0 -96px;
}
